/* Propiedades generales del estilo */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Guardar colores principales ===== */
    --body-color: white;
    --sidebar-color: #1D1D1B;
    --primary-color: #118dd5;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color:rgb(220, 220, 220);
    --form-color: #D8D8D8;
    --header-color:#118dd5;
    --register-button: var(--primary-color);

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

/* Tamaño y color del fondo */
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: 0s;
}

/* Color del texto cuando se selecciona */
::selection{
    background-color: var(--primary-color);
    color: #fff;
}

/* ========================== Sidebar ============================= */
 .sidebar{
    transition: 0s;
    position:relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 257px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: 0s; /* Tiempo de aparecer la barra contenedora */
    z-index: 100;  

}
/* Propiedades del sidebar cerrado */
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon, .sidebar .icon.actual{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
}

.sidebar .text, .sidebar .icon{
    color: var(--text-color);
    transition: 0s;  /* Tiempo de aparecer y desaparecer imagen y texto */
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

/* =================== Sidebar abierto propiedades ============= */
.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.sidebar header .image img{
    width: 200px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: white;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;  /* Tiempo de aparecer la flecha */
}


.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: 0s; /* Para el search que borre */
}

.textCategoria{
    font-size: 25px;
    padding: 10px;

}

.cantidadProd{
    width: min-content;
    border: 1px solid black;
    padding: 10px;
    margin-top: 12px;
}
.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: 0s;  /* Para el search que borre */
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;  /* Para la transition de color  */
    
}


.arrow_despliegue{
    color: red;;
}



.sidebar li a:hover{
    background-color: var(--primary-color);
    cursor: pointer;


}


.sidebar .sub-li a:hover{
    background-color: var(--primary-color);
    
}


.li.actual{
background-color:var(--primary-color) ;
border-radius: 6px;
}

.sidebar .sub-li a{
    background-color: #2D2D2E;
    border-radius: 20px;
    cursor: pointer;
}

.sidebar .sub-li.actual a{
    background-color: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
    
}


.sidebar .sub-text , .sidebar .icon.sub-icon{
color: white;
}


.icon_despliegue{
    color: rgba(139, 247, 255, 0.616);;
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 31px;
    margin-left: auto;
    margin-top: 20px;
    
    transition: all 0.2s ease-in-out;
}

.sidebar.close .icon_despliegue{
    transition: 0s;
}


.icon_despliegue.activo{
    color:rgb(221, 221, 221);
    transform: translateX(-43%) translateY(8%) rotate(90deg);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.sidebar .text.actual, .sidebar .icon.actual, .sidebar .sub-li.actual , .sidebar .sub-text.actual, .sidebar .sub-icon.actual{
    color: var(--sidebar-color)
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

.sidebar .sub-li a:hover .sub-text{
    color: var(--sidebar-color);
}

.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: 0s; /* Para el switch  */
}


.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: 0s;  /* Para el switch  */
    
    

}


.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: 0s;  /* Tiempo de correrse el texto del home */

}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}


.sidebar .texto, .sidebar .icon{
    color: var(--text-color);
    transition: 0s;  /* Tiempo de desaparecer el electrobike girado */
}

.sidebar .icon_despliegue{
    opacity: 1;
}

.sidebar.close .texto{
    opacity: 1;
}

.sidebar .texto{
    opacity: 0;
}

.sidebar .xd{
    transition: 0s;
}

.sidebar.close .xd{
    transition: 10s;
}

.eslogan-text{
    color: #fff;
    font-size: 28px;
   -webkit-transform: rotate(-90deg);  
   padding-bottom: 100px;
}

.eslogan{
    display: flex;
}

.imagenLogo{margin-top: 10px;
    margin-right: 156px;
}



.modulo{
    color: var(--text-color);
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;

    }
    
.modulo.oculto , .page{
    overflow: hidden;
    visibility: hidden;
    height: 0;
    transition: 0.5s;
}


#activado{
    margin-left: 20px;
}

.sidebar.close .modulo{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}


.sidebar.close .icon_despliegue{
    visibility: hidden;
    height: 0;
    overflow: hidden;
}





/* Scroll Bar */

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(38, 192, 243),rgb(3, 64, 85));
    border-radius: 9px;

}

body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(rgb(83, 178, 246),rgb(37, 135, 220));

}


/* Animacion entra paginas */
.animate-in-ov {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}
.animate-out-ov {
    -webkit-transition: opacity 2s;
    transition: opacity 1s;
    opacity: 0.9;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0.6; }
    to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0.6; }
    to { opacity: 1; }
}

/* ---------------------------- Header ----------------------------------- */

.user{
           
    font-size: 23px;
    margin-top: 40px;
    margin-right:8px ;
    color:white;
    }

    .titulo{
        padding: 20px;
        font-size: 50px;
        color:white;
    }
    .header{
    width: 100%;
    height: 120px;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;

}
    
/* ---------------------------- FORMULARIO REGISTRAR ----------------------------------- */
.botonNuevaCompra {
    width: 230px;
}

.padre {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.table {
    margin-top: 50px;
    padding-left: 400px;
}

.buscador{
    margin-left: 50%;
}
.table-responsive{
    width: 1200px;
}

.page-content {
	width: 100%;

	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.form-v10-content  {

	width: 1000px;
	border-radius: 50px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 10px 0;
	position: relative;

}

.form-v10-content .form-detail {
	position: relative;
	width: 100%;
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail h2 {
	font-weight: 500;
	font-size: 25px;
	margin-bottom: 34px;
	padding: 33px 50px 0px 60px;
}
.form-v10-content .form-detail .form-left {
	width: 100%;
    
}

.form-v10-content .form-detail .form-right {
	width: 100%;
	background: var(--form-color);

}


.form-v10-content .form-detail .form-right h2 {
	color: rgb(0, 0, 0);
}
.form-v10-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
}
.form-v10-content .form-detail .form-row {
	position: relative;
	margin-bottom: 24px;
	padding-left: 60px;
    padding-right: 50px;
    border-radius: 5px;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3 {
	width: 50%;
	padding: 0 50px 0 12px;
}
.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 {
	width: 50%;
	padding: 0 50px 0 12px;
}

.btn-dark {
    margin-left: 72%;
    border-radius: 108px;

    height: 45px;
}


.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1 {
	width: 100%;
	padding: 0 50px 0 60px;
}
.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
	width: 100%;
	padding: 0 50px 0 60px;
}
.form-v10-content .form-detail select,
.form-v10-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px 15px 15px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgb(247, 247, 247);
    outline: none;
    font-size: 16px;
    box-sizing: border-box;

}
.form-v10-content .form-detail select {
	background: white;
	position: relative;
	z-index: 9;
	cursor: pointer;
}
.form-v10-content .form-detail .form-left select {
	color: #666;
}
.form-v10-content .form-detail .form-right select {
	color: black;
}
.form-v10-content .form-detail .select-btn {
	z-index: 0;
    position: absolute;
    top: 30%;
    right: 11.5%;
    font-size: 18px;
}
.form-v10-content .form-detail .form-left .select-btn {
    color: #666;
}
.form-v10-content .form-detail .form-right .select-btn {
    color:  black;
}
.form-v10-content .form-detail .form-group .form-row.form-row-4 .select-btn {
	top: 20%;
	right: 26%;
    
}
.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
	top: 20%;
	right: 19%;
}
.form-v10-content .form-detail .form-left input {
	color: #000;
}
.form-v10-content .form-detail .form-right input {
	color: rgb(0, 0, 0);
}


.box{
    border-radius: 10px;
}
.form-v10-content .form-detail .form-right select option {
	background: #dbdbdb;
}
.form-v10-content .form-detail .form-checkbox {
	margin-top: 37px;
	padding: 0 50px 0 60px;
	position: relative;
}
.form-v10-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-v10-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 1px;
    left: 60px;
    height: 15px;
    width: 15px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}
.form-v10-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v10-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v10-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #e5e5e5;
    font-size: 14px;
    font-weight: 400;
}
.form-v10-content .form-detail .form-checkbox .text {
	font-weight: 400;
	color: rgb(10, 7, 7);
	text-decoration: underline;
}
.form-v10-content .form-detail .form-right .form-row-last {
    padding-left: 60px;
    margin: 44px 0 10px;
}
.form-v10-content .form-detail .form-right .register {
	background-color: var(--register-button);
	border-radius: 25px;
	-o-border-radius: 25px;
	-ms-border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.15);
	width: 180px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #333;
	font-weight: 700;
	font-size: 15px;

}
.form-v10-content .form-detail .form-right .register:hover {
	background: #38aae7;
    color:white;
}
.form-v10-content .form-detail .form-right .form-row-last button {
	padding: 12.5px;
}
.form-v10-content .form-detail .form-left input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input::-moz-placeholder { /* Firefox 19+ */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input:-ms-input-placeholder { /* IE 10+ */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-left input:-moz-placeholder { /* Firefox 18- */
  color: #666;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:  black;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input::-moz-placeholder { /* Firefox 19+ */
  color:  black;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input:-ms-input-placeholder { /* IE 10+ */
  color:  black;
  font-size: 16px;
}
.form-v10-content .form-detail .form-right input:-moz-placeholder { /* Firefox 18- */
  color:  black;
  font-size: 16px;
}



/* Responsive */
@media screen and (max-width: 1199px) {
	.form-v10-content {
		margin:  10px;
	}

    .sidebar{
        height: 100%;
        
    }
    .header{
        height: 120px;
        background-color: red;

    }
}
@media screen and (max-width: 849px) and (min-width: 768px) {
	.form-v10-content .form-detail .form-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
        
	}

    .sidebar{
    height: 100%;
    }
    .header{
        height: 155px;
        background-color: rgb(51, 255, 0);
    }


    .form-detail{
        flex-direction: column;
    }


.form-right,.form-left{

    width:500px !important;
    margin-left: 100px!important ;
}


}
@media screen and (max-width: 767px) {

	.form-v10-content .form-detail .form-row,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
	    width: auto;
	    padding: 0 5px;
	}
	.form-v10-content .form-detail .select-btn,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}
	.form-v10-content .form-detail h2 {
	    padding: 33px 30px 0px 30px;
	}
	.form-v10-content .form-detail .form-checkbox {
		padding: 0 30px;
	}
	.form-v10-content .form-detail .form-checkbox .checkmark {
		left: 30px;
	}
	.form-v10-content .form-detail .form-right .form-row-last {
		padding-left: 0;
		text-align: center;
	    margin: 44px 0 30px;
	}
    .form-v10-content .form-detail .form-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}


    .header{
        height: 150px;
        background-color: rgb(17, 0, 255);
    }
    
    
}
@media screen and (max-width: 575px) {
	.form-v10-content .form-detail .form-group {
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
    .sidebar{
        height: 100%;
    }
    .header{
        height: 150px;
        background-color: rgb(255, 251, 0);
    }
	.form-v10-content .form-detail .form-row,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-2,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-3,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-1,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 {
	    width: auto;
	    padding: 0 5px;
	}
	.form-v10-content .form-detail .select-btn,
	.form-v10-content .form-detail .form-left .form-group .form-row.form-row-4 .select-btn,
	.form-v10-content .form-detail .form-right .form-group .form-row.form-row-2 .select-btn {
		right: 15%;
	}
	.form-v10-content .form-detail h2 {
	    padding: 33px 30px 0px 30px;
	}
	.form-v10-content .form-detail .form-checkbox {
		padding: 0 30px;
	}
	.form-v10-content .form-detail .form-checkbox .checkmark {
		left: 30px;
	}
	.form-v10-content .form-detail .form-right .form-row-last {
		padding-left: 0;
		text-align: center;
	    margin: 44px 0 30px;
	}
}
